// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

html{
    scroll-behavior:smooth !important;
}
// header
.mh-55px {
    min-height: 55px;
}
.nav-deactivated {
    .offcanvas {
        display: none;
    } 
    .navbar-toggler {
        display: none;
    }

}
.navbar {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 100px;
    .navbar-toggler {
        .hamburger-lines {
            display: block;
            height: 26px;
            width: 32px;
            position: absolute;
            top: 50%;
            transform: translateY(-51%);
            right: 0px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .line {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: #FFF;
                &.line1 {
                    transform-origin: 0% 0%;
                    transition: transform 0.4s ease-in-out;
                }
                &.line2 {
                    transition: transform 0.2s ease-in-out;
                }
                &.line3 {
                    transform-origin: 0% 100%;
                    transition: transform 0.4s ease-in-out;
                }
              }
          }
    }
    .navbar-brand {
        position: absolute;
        margin-right: 0px;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        @media (min-width: 768px) {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10000;
        }
        img {
            max-width: 165px;
            @media (min-width: 768px) {
                max-width: 240px;
                // max-height: 55px;
            }
        }
    }
    .offcanvas {
        border: none;
        .offcanvas-header {
            background-color: #08080D;
            padding: 20px;
            .btn-close-gh {
                opacity: 1;
                font-size: 25px;
                @media (min-width: 768px) {
                    display: none;
                }
            }
        }
        .offcanvas-body {
            background-color: #08080D;
            justify-content: space-between;
            padding: 30px 20px;
            @media (min-width: 992px) {
                padding: 0px;
            }
            .navbar-nav {
                margin-top: 20%;
                @media (min-width: 768px) {
                    margin-top: 0;
                }
                .nav-item {
                    .nav-link {
                        color: #FFF;
                        font-size: 25px;
                        font-weight: bold;
                        transition: all 350ms;
                        @media (min-width: 768px) {
                            font-size: 16px;
                            padding: 20px;
                        }
                        &:hover,
                        &:focus {
                            &:hover {
                                @media (min-width: 768px) {
                                    color: #e25822 !important;
                                }
                            }
                            text-decoration: none
                        }
                    }
                }
            }
            .right-nav {
                align-self: center;
                margin-top: 50px;
                @media (min-width: 768px) {
                    margin-top: 0;
                }
                ul {
                    display: flex;
                    margin-bottom: 0px;
                    padding-left: 0px;
                    flex-direction: column;
                    
                    @media (min-width: 768px) {
                        flex-direction: row;
                    }
                    li {
                        list-style-type: none;
                        margin-bottom: 10px;
                        @media (min-width: 768px) {
                            margin-bottom: 0;
                        }
                        a {
                            color: #FFF;
                            text-decoration: none;
                            font-size: 20px;
                            font-weight: bold;
                            transition: all 350ms;
                            @media (min-width: 768px) {
                                font-size: 16px;
                                padding: 20px;
                            }
                            &:hover {
                                @media (min-width: 768px) {
                                    color: #e25822;
                                }
                            }
                        }
            
                    }
                }
            }

        }
    }


}

.btn-gh {
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgba(#000000, 0.1);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 7px 6px 24px -12px rgb(8 8 13 / 75%);
    background-color: #e25822;
	color: #fff;
	font-weight: bold;
	font-size: 26px;
	transition: all 350ms;
    &:hover {
        background-color: #f2672c;
    }
}

.global--cta {
    position: fixed;
    top: 20px;
    right: 25px;
    // overflow: hidden;
    transform: translateY(-100%);
    transition-duration: 650ms;
    z-index: 1000;
    // box-shadow: 7px 6px 24px -12px rgb(8 8 13 / 75%);
    @media (min-width: 768px) {
        top: 40px;
        right: 45px;
    }
    .btn--global--cta {
        color: #fff;
        border-radius: 10px;
        padding: 20px;
        font-weight: bold;
        text-decoration: none;
        display: block;
        transform: translateY(-100%);
        transition-duration: 350ms;
        box-shadow: 7px 6px 24px -12px rgb(8 8 13 / 75%);
        background-color: #e25822 !important;
        width: 175px;
        font-size: 18px;
        text-align: center;
        &:hover {
            background-color: #f0723c !important;
        }
    }
} 

.move-on {
    .global--cta {
        transform: translateY(0%);
        .btn--global--cta {
            transform: translateY(0%);
        }
    } 
}
// home and other page

// header
.gh--header {
    padding-top: 50px;
    padding-bottom: 200px;
    background-color: #08080D;
    h1 {
        text-align: center;
        font-weight: bold;
        margin-bottom: 50px;
        font-size: 50px;
        br {
            display: none;
            @media (min-width: 768px) {
                display: initial;
            }
        }
    }
    p {
        text-align: center;
        max-width: 630px;
        margin: auto;
        br {
            display: none;
            @media (min-width: 768px) {
                display: initial;
            }
        }
    }
}

.gh--table {
    background-color: #f9f9f9;
    color: #000;
    .casionos--container {
        position: relative;
        padding: 30px 0;
        max-width: 1150px;
        margin: auto;
        &.post-template {
            top: -95px;
        }
        &.home-page {
            top: 0px;
            padding: 200px 0 150px 0;
            h3 {
                text-align: center;
                font-weight: bold;
                margin-bottom: 50px;
                font-size: 40px;
            }
        }
        .card {
            border: none;
            border-radius: 10px;
            margin-bottom: 20px;
            box-shadow: 0 2px 0 0 #f2f0f0;
            &.c-shadow {
                box-shadow: 7px 6px 24px -12px rgb(8 8 13 / 75%) !important;
            }
            .single--casino {
                display: flex;
                align-items: center;
                padding: 20px;
                justify-content: space-evenly;
                flex-direction: column;
                @media (min-width: 768px) {
                    flex-direction: row;
                }
                @media (min-width: 992px) {
                    justify-content: normal;
                }
                span {
                    font-weight: bold;
                    font-size: 19px;
                    margin-bottom: 20px;
                    @media (min-width: 768px) {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 992px) {
                        margin-right: 15px;
                    }
                    @media (min-width: 1200px) {
                        margin-right: 40px;
                    }
                }
                .card-img {
                    max-width: 85px;
                    border: 1px solid rgba(#000, 0.1);
                    margin-bottom: 20px;
                    object-fit: cover;
                    @media (min-width: 768px) {
                        margin-bottom: 0px;
                    }
                    @media (min-width: 992px) {
                        margin-right: 15px;
                    }
                    @media (min-width: 1200px) {
                        margin-right: 40px;
                    }
                }
                .casino--review {
                    text-align: center;
                    display: block;
                    p {
                        font-weight: bold;
                        font-size: 19px;
                        margin-bottom: 0px;
                        line-height: 0.8;
                    }
                    ul {
                        list-style-type: none;
                        display: flex;
                        margin-bottom: 0px;
                        padding-left: 0px;
                        &.star-1{
                            li {
                                &:first-child {
                                    svg {
                                        width: 20px;
                                        height: 20px;
                                        fill: #e5c554 !important;
                                        stroke: #e5c554 !important;
                                    } 
                                }
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: transparent;
                                    stroke: #e5c554 !important;
                                }
                            }
    
                        }
                        &.star-2{
                            li {
                                &:first-child,
                                &:nth-child(2) {
                                    svg {
                                        width: 20px;
                                        height: 20px;
                                        fill: #e5c554 !important;
                                        stroke: #e5c554 !important;;
                                    } 
                                }
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: transparent;
                                    stroke: #e5c554 !important;
                                }
                            }
                        }
                        &.star-3{
                            li {
                                &:first-child,
                                &:nth-child(2),
                                &:nth-child(3) {
                                    svg {
                                        width: 20px;
                                        height: 20px;
                                        fill: #e5c554 !important;
                                        stroke: #e5c554 !important;
                                    } 
                                }
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: transparent;
                                    stroke: #e5c554 !important;
                                }
                            }
                        }
                        &.star-4{
                            li {
                                &:first-child,
                                &:nth-child(2),
                                &:nth-child(3),
                                &:nth-child(4) {
                                    svg {
                                        width: 20px;
                                        height: 20px;
                                        fill: #e5c554 !important;
                                        stroke: #e5c554 !important;
                                    } 
                                }
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: transparent;
                                    stroke: #e5c554 !important;
                                }
                            }
                        }
                        &.star-5{
                            li {
                                svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: #e5c554 !important;
                                    stroke: #e5c554 !important;
                                }
                            }
                        }
                    }
                }
            }
            .card-body {
                display: flex;
                height: 100%;
                align-items: center;
                flex-direction: column;
                @media (min-width: 992px) {
                    flex-direction: row;
                }

                .card-title {
                    font-weight: bold;
                    font-size: 16px;
                    flex: 3;
                    text-align: center;
                    margin-bottom: 20px;
                    @media (min-width: 992px) {
                        margin-bottom: 0;
                    }

                }
                .card-text {
                    margin-bottom: 20px;
                    text-align: center;
                    @media (min-width: 992px) {
                        text-align: left;
                        flex: 3;
                        margin-bottom: 0;
                    }
                    @media (min-width: 992px) {
                        margin-inline: 25px;
                    }

                }
                .btn--holder {
                    flex: 3;
                    text-align: center;
                    @media (min-width: 1200px) {
                        flex: 3;
                    }
                    .btn--primary {
                        background-color: #e25822 !important;
                       padding: 20px 20px;
                       margin-bottom: 15px;
                       color: #FFF; 
                       border-radius: 10px;
                       text-decoration: none;
                       font-weight: bold;
                       display: block;
                       box-shadow: 7px 6px 24px -12px rgb(8 8 13 / 75%);
                       transition: all 350ms;
                       &:hover {
                        @media (min-width: 768px) {
                            background-color: #f0723c !important;
                        }
                       }
                       &.btn--shadow {
                            box-shadow: 7px 6px 24px -12px rgb(8 8 13 / 75%);
                        }
                        svg {
                        width: 20px;
                        height: 20px;
                        position: relative;
                        left: 5px;
                        bottom: 3px;
                            path {
                                fill: #FFF;
                            }
                        }
                    }
                    .btn--secondary {
                        color: #A9A9A9;
                        text-decoration: none;
                        font-size: 14px;
                        &:hover {
                            color: #636363;
                        }
                    }
                }
            }
        }

    }
}

.gh--content {
    position: relative;
    background-color: #f9f9f9;
    color: #000;
    max-width: 800px;
    margin: auto;
    top: -50px;
    h3 {
        font-size: 30px;
        font-weight: bold;
        padding-top: 30px;
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }   
    }
}

.gh--singup {
    padding-top: 150px;
    background: linear-gradient(180deg, rgba(249,249,249,1) 80%, rgba(255,255,255,0) 80%);
    .bg-gh {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 1150px;
        background-color: #FFF;
        color: #000;
        border: 1px dashed #6fb857;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        .holder--img {
            display: flex;
            height: auto;
            img {
                max-height: 450px;
                object-fit: cover;
                width: 100%;
                @media (min-width: 992px) {
                    max-width: 600px;
                    max-height: 600px;
                    aspect-ratio: 1/1;
                }
            }
        }
        .holder--text {
            background-color: #FFF;
            .singup--holder {
                h4 {
                    text-align: center;
                    margin-bottom: 20px;
                    font-size: 25px;
                    font-weight: bold;
                }
                p {
                    text-align: center;
                    margin-bottom: 20px;
                }
                .form-control {
                    background-color: #f9f9f9;
                    border-radius: 0;
                    padding: 20px;
                }
                .input {
                    color: #666;
                }
            }   
        }
    }

}

.gh--footer {
    margin-top: 150px;
    p {
        text-align: center;
        margin-bottom: 0;
        margin: auto;
        @media (min-width: 992px) {
            max-width: 900px;
        }
    }
    .down--footer {
        display: flex;
        margin-top: 150px;
        margin-bottom: 30px;
        padding-inline: 20px;
        flex-direction: column;
        @media (min-width: 992px) {
            padding-inline: 80px;
            flex-direction: row;
        }
        .down-text {
            text-align: center;
            margin-bottom: 0;
            max-width: initial;
            flex: 3;
            max-width: 1200px;
            order: 1;
            a {
                color: #e25822;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    color: #f0723c;
                }
            }
            @media (min-width: 992px) {
                margin-bottom: 0;
                text-align: left;
                order: 1;
            }
        }
        .social {
            flex: 1;
            display: flex;
            justify-content: center;
            margin-bottom: 50px;
            @media (min-width: 992px) {
                justify-content: flex-end;
                margin-bottom: 0;
                order: 2;
            }
            a {
                margin-left: 20px;
            }
        }
    }
    a {
        color: #fff;
    }

}
.video-container {
    position: relative;
    padding-bottom: 50.25%;
    box-shadow: 10px 17px 36px -12px rgba(8,8,13,0.81);
    background-color: #08080D;
    @media (min-width: 992px) {
        padding-bottom: 36.25%;
    }
}
  
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gh-header__home {
    padding-top: 100px;
    padding-bottom: 200px;
    background: linear-gradient(180deg, rgba(8,8,13,1) 90%, rgba(249,249,249,1) 90%);
    @media (min-width: 992px) {
        background: linear-gradient(180deg, rgba(8,8,13,1) 52%, rgba(249,249,249,1) 52%);
    }
    .container-header__home {
        max-width: 1700px;
        .header-text__holder {
            align-self: center;
            @media (min-width: 1400px) {
                margin-bottom: 17px;
            }
            h1 {
                text-align: center;
                font-weight: bold;
                font-size: 28px;
                margin-bottom: 0;
                color: #FFF;
                margin-bottom: 50px;
                @media (min-width: 992px) {
                    font-size: 30px;
                    color: #FFF;
                    margin-top: 0px;
                }
                @media (min-width: 1200px) {
                    font-size: 40px;
                }

            }
            a {
                background-color: #e04620;
                color: #FFF;
                font-size: 28px;
                text-decoration: none;
                text-align: center;
                margin: auto;
                display: flex;
                width: fit-content;
                padding: 20px;
                border-radius: 10px;
                font-weight: bold;
                margin-bottom: 60px;
                transition: all 350ms;
                box-shadow: 7px 6px 24px -12px rgb(8 8 13 / 75%);
                &:hover {
                    background-color: #e3642d;
                }
                @media (min-width: 992px) {
                    font-size: 30px;
                    margin-bottom: 0px;
                }
                @media (min-width: 1200px) {
                    font-size: 40px;
                }

            }
        }
    }
}

.gh--text__place {
    background-color: #FFF;
    font-style: italic;
    text-align: center;
    padding: 30px 0;
    .gh--text__holder {
        // max-width: 1150px;
        // margin: auto;
        h3 {
            font-size: 22px;
            line-height: 1.5;
            color: #666;
            margin-bottom: 0px;
        }
    }
}

.gh--home__thumbs {
    background-color: #f9f9f9;
    padding-top: 150px;
    .single-block {
        max-width: 1220px;
        margin: auto;
        h4 {
            font-size: 40px;
            line-height: 1.5;
            color: #666;
            margin-bottom: 30px;
            text-align: center;
        }
        .image--holde {
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            a {
                z-index: 10;
                position: relative;

            }
            img {
                transform: scale(1);
                transition: all 400ms ease-in;
                max-height: 300px;
                width: 100%;
                object-fit: cover;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #08080d;
                opacity: 0;
                transition: all 400ms ease-in;
            }
            &:hover {
                &::after {
                    opacity: 0.3;
                } 
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.gh--bottom__arrow {
    display: flex;
    justify-content: center;
    background-color: #f9f9f9;
    padding-top: 150px;
    svg {
        max-width: 70px;
    }
}

#single-wrapper {
    padding: 0px;
    article {
        background-color: #f9f9f9;
        .entry-content {
            .gh--content {
                color: #666;
                .feature-image {
                    margin-bottom: 50px;
                    img {
                        width: 100%;
                        box-shadow: 10px 17px 36px -12px rgb(8 8 13 / 81%);
                    }
                }
                .table--of__content {
                    width: fit-content;
                    padding: 50px 50px 30px 20px;
                    background-color: #FFF;
                    border: 1px dashed #6fb857;
                    ul {
                        list-style-type: none;
                        padding-left: 0px;
                        margin-bottom: 0px;
                        li {
                            margin-bottom: 20px;
                            a {
                                text-decoration: none;
                                color: #555;
                                font-size: 20px;
                                font-weight: bold;
                                transition: all 400ms ease-in;
                                &:hover {
                                    color: #000;
                                }
                            }
                        }
                    }
                }
                h1 {
                    margin-bottom: 50px;
                    color: #2b2b2b;
                    font-weight: bold;
                }
                p, span {
                    font-size: 20px;
                }
                h2,h3,h4,h5 {
                    margin: 30px 0;
                    font-weight: bold;
                }
                img {
                    margin-top: 50px;
                    box-shadow: 10px 17px 36px -12px rgb(8 8 13 / 81%);
                }
            }
        }
    }
}

#archive-wrapper {
    background-color: #f9f9f9;
    color: #000;
    padding: 50px 0px;
    article {
        margin: 40px 0px;
        .entry-title {
            a {
                color: #000;
                text-decoration: none;
                margin-bottom: 20px;
                &:hover {
                    color: #000;
                }
            }
    
        }
        .understrap-read-more-link {
            background-color: #7fc467;
            padding: 10px 20px;
            margin-bottom: 15px;
            color: #fff;
            border-radius: 12px;
            text-decoration: none;
            font-weight: 700;
            display: block;
            width: fit-content;
            border: none;
        }
    }
    .pagination {
        .page-item {
            .page-link {
                color: #7fc467;
                &.current {
                    background-color: #7fc467;
                    border-color: #7fc467;
                    color: #FFF;
                }
            }
        }
    }
}

#page-wrapper {
    .entry-title {
        text-align: center;
        padding-bottom: 70px;
        font-weight: bold;
        font-size: 50px;
        
    }
    .entry-content {
        background-color: #f9f9f9;
        color: #000;
        padding: 50px 0px;
        .gh--page-content {
            max-width: 800px;
            margin: auto;
            color: #666;
            h1 {
                margin-bottom: 50px;
                color: #2b2b2b;
                font-weight: bold;
            }
            p {
                font-size: 20px;
            }
            h5 {
                margin: 30px 0;
                font-weight: bold;
            }
        }
    }
}

// tutorial page
.gh-header__tutorials {
    text-align: center;
    h1  {
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 50px;
    }
}

.gh-main__section {
    background-color: #FFF;
    padding-bottom: 100px;
    position: relative;
    z-index: 10;
    overflow-x: hidden;
    padding-top: 40px;
    @media (min-width: 576px) {
        padding-top: 80px;
    }
    .single-block {
        max-width: 1220px;
        margin: auto;
        margin-top: 60px;
        &.first {
            margin-top: 0px;
            .headline {
                color: #FFF;
            } 
            .black-background {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 600%;
                    background-color: #08080d;
                    left: -300%;
                    z-index: -1;
                    top: -195px;
                    height: calc(50% + 195px);
                    @media (min-width: 576px) {
                        top: -195px;
                        height: calc(50% + 195px);
                    }
                }
            }
        }
        .headline {
            font-size: 28px;
            text-align: center;
            color: #08080D;
            font-weight: 600;
        }
        .image--holde {
            overflow: hidden;
            position: relative;
            border-radius: 5px;
            a {
                z-index: 10;
                position: relative;
            }
            img {
                transform: scale(1);
                transition: all 400ms ease-in;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #08080d;
                opacity: 0;
                transition: all 400ms ease-in;
            }
            &:hover {
                &::after {
                    opacity: 0.3;
                } 
                img {
                    transform: scale(1.1);
                }
            }
        }

    }
}


